.card-list {
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1023px) {
  .card-list {
    height: 150vh;
  }
}

@media (max-width: 686px) {
  .card-list {
    height: 135vh;
  }
}